:root { 
--teal_100_00:#b3d1d300; 
--teal_101:#b5e2d9; 
--teal_100:#b3d1d3; 
--teal_400_d1:#1ba582d1; 
--yellow_800:#f89a29; 
--yellow_801:#f9a731; 
--gray_600:#777777; 
--amber_302:#f9d64d; 
--gray_800:#554f3e; 
--lime_900:#b0731b; 
--amber_300:#f8d74e; 
--black_900_0c:#0000000c; 
--lime_100:#f0e5c9; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--black_900_16:#00000016; 
--gray_300_75:#eee9da75; 
--red_900:#b42b14; 
--gray_900_6c:#1212126c; 
--gray_50:#fbfaf8; 
--green_A400:#31d583; 
--black_903:#020202; 
--black_900:#000000; 
--teal_52:#e6f5f2; 
--black_900_63:#00000063; 
--black_902:#0c0b0a; 
--black_901:#010101; 
--teal_50_00:#def2ee00; 
--gray_903:#171614; 
--gray_904:#232323; 
--lime_800_00:#af923a00; 
--gray_301:#ede8d9; 
--gray_500:#a6a6a6; 
--teal_700_75:#24836b75; 
--gray_901:#242527; 
--gray_902:#1e1e1e; 
--lime_800:#af923a; 
--gray_900:#121212; 
--lime_100_87:#f0e5c987; 
--teal_50:#def2ee; 
--gray_300:#eee9da; 
--teal_100_6c:#b3d1d36c; 
--gray_100:#f5f5f5; 
--white_A700_00:#ffffff00; 
--gray_500_73:#a4a4a473; 
--bluegray_500:#598d91; 
--light_green_50:#f4f0e7; 
--light_green_51:#f3f0e6; 
}